html, body {
    height: 100%;
    background-color: #f9f4ed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    
    
}
.box {
    flex: 1 1 30vw;
    background-color: #5392ac;
    border-radius: 30px;
    height: 30vw;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color:black;
    

}


.header {
   background-color: #032838;
   width:100vw;
   height:15vh;
   margin-bottom: 3vh;
   display: flex;
    flex-direction: row;
    align-items: center;   /* Vertical alignment */
    justify-content: center;
}
.header img {
    max-height: 100%;
}
.logout {
    position: absolute;
    right:10vh;
}
