{% extends "baseTemplate.html" %}
{% load static %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/labOrder.css' %}">
{% endblock %}



{% block content %}
<h1>Lab Orders and Tests</h1>

<!-- Lab Orders Section -->
<br>

<div class="flex-container">
    <h2>View Lab Orders</h2>
    <div class="select-background">
        <div class="select-left">
        <form method="get">
            {% csrf_token %}
            {{ view_order_form.as_p }}
            <button type="submit">View Lab Order</button>
        </form>
    </div>

    <div class= "select-right">
        {% if selected_order %}
            <h3>Selected Lab Order</h3>
            <p>Order ID: {{ selected_order.orderid }}</p>
            <p>Patient Name: {{ selected_order.patientid }}</p>
            <p>Physician Name: {{ selected_order.physicianid }}</p>
            <p>Lab Test: {{ selected_order.teststypeid }}</p>
            <p>Lab Technician: {{ selected_order.technicianid }}</p>
            <p>Results: {{ selected_order.results }}</p>
            <p>Date Ordered: {{ selected_order.dateordered }}</p>
            <p>Date Performed: {{ selected_order.dateperfomed }}</p>

        {% else %}
            <h2>Select Lab Order:</h2>
        {% endif %}
    </div>

</div>
<br>
<div class="flex-container">
    <h2>Add Lab Order</h2>
    <div class="select-background">
        <div class="select-center">
        <form method="post">
            {% csrf_token %}
            {{ add_order_form.as_p }}
            <button type="submit" name="add_order">Add Lab Order</button>
        </form>
        </div>
    </div>
</div>

<br>
<div class="flex-container">
    <h2>Update Lab Order</h2>
    <div class="select-background">
        <div class="select-center">
            <form method="post">
                {% csrf_token %}
                {{ update_lab_form.as_p }}
                <input type="hidden" name="orderid" value="{{ selected_order.orderid }}">
                <button type="submit" name="update_order">Update Lab Order</button>
            </form>
        </div>
    </div>
</div>

<hr>

<!-- Lab Tests Section -->
<br>
<div class="flex-container">
    <h2>View Lab Tests</h2>
    <div class="select-background">
        <div class="select-left">
            <form method="get">
            {% csrf_token %}
            {{ view_test_form.as_p }}
            <button type="submit">View Lab Test</button>
        </form>
    </div>

    <div class= "select-right">
        {% if selected_test %}
            <h3>Selected Lab Test</h3>
            <p>Test ID: {{ selected_test.typeid }}</p>
            <p>Test Name: {{ selected_test.typename }}</p>
            <p>Normal Range: {{ selected_test.normalrange }}</p>
            <p>Urgent Range: {{ selected_test.urgentrange }}</p>
        {% else %}
            <h2>Select Lab Order:</h2>
        {% endif %}
    </div>

</div>

<br>
<div class="flex-container">
    <h2>Add Lab Test</h2>
    <div class="select-background">
        <div class="select-center">
            <form method="post">
                {% csrf_token %}
                {{ add_test_form.as_p }}
                <button type="submit" name="add_test">Add Lab Test</button>
            </form>
        </form>
        </div>
    </div>
</div>


{% endblock %}