{% extends "baseTemplate.html" %}
{% load static %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/equipment.css' %}">
{% endblock %}

{% block content %}
<h1 class = "equipment-title">FUCK YOU</h1>//Top Title
<div class="test">
    <h1>I'd Rather be Gaming!</h1>
    <div class = "test2">
        <button class="styled-button">Click This Shit!</button>
    </div>
</div>
<div class="vendor-background">
    <div class = "select-vendor">
        <h1>I Love Jeff Kinney!</h1>
    </div>
</div>

{% endblock %}