{% extends "baseTemplate.html" %}
{% load static %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}
<h1 class="manage-title">Equipment Manager</h1>
<a href="{% url 'equipment' %}">
    <button>Equipment Search</button>
</a>
<a href="{% url 'problems_page' %}">
    <button>Report and Search Problems</button>
</a>
<button>Add Vendor</button>
<div class="add-parent">
    <div class="add-background">
        <h1>Add Equipment</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="equipmentid">Equipment ID:</label>
            <input type="text" name="equipmentid" id="equipmentid" required><br>
        
            <label for="type">Type:</label>
            <input type="text" name="type" id="type" required><br>
        
            <label for="description">Description:</label>
            <input type="text" name="description" id="description"><br>
        
            <label for="lease_terms">Lease Terms:</label>
            <input type="text" name="lease_terms" id="lease_terms"><br>
        
            <label for="departmentleased">Department Leased:</label>
            <input type="text" name="departmentleased" id="departmentleased"><br>
        
            <label for="owned_lease">Owned/Lease:</label>
            <select name="owned_lease" id="owned_lease">
                <option value="O">Owned</option>
                <option value="L">Leased</option>
            </select>
            <br>
        
            <label for="purchasedate">Purchase Date:</label>
            <input type="date" name="purchasedate" id="purchasedate"><br>
        
            <label for="warenty_info">Warranty Info:</label>
            <input type="text" name="warenty_info" id="warenty_info"><br>
        
            <button class="add-button"type="submit">Add</button>
        </form>
    </div>
    <div class="add-background">
        <h1>Add Vendor</h1>
        <label for="equipmentid">Equipment ID:</label>
        <input type="text" name="equipmentid" id="equipmentid" required><br>
    
        <label for="type">Type:</label>
        <input type="text" name="type" id="type" required><br>
    
        <label for="description">Description:</label>
        <input type="text" name="description" id="description"><br>
    
        <label for="lease_terms">Lease Terms:</label>
        <input type="text" name="lease_terms" id="lease_terms"><br>
    
        <label for="departmentleased">Department Leased:</label>
        <input type="text" name="departmentleased" id="departmentleased"><br>
    
        <label for="owned_lease">Owned/Lease:</label>
        <select name="owned_lease" id="owned_lease">
            <option value="O">Owned</option>
            <option value="L">Leased</option>
        </select>
        <br>
    
        <label for="purchasedate">Purchase Date:</label>
        <input type="date" name="purchasedate" id="purchasedate"><br>
    
        <label for="warenty_info">Warranty Info:</label>
        <input type="text" name="warenty_info" id="warenty_info"><br>
    
        <button class="add-button"type="submit">Add</button>
</div>
{% endblock %}
