body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_background {
    background-color: #e0e0e0;
    min-height: 80vh;
    overflow: auto;
    width: 95vw;
    border-radius: 2%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.select-background {
    background-color: #cdb29e;
    min-height: 80vh;
    overflow: auto;
    width: 95vw;
    border-radius: 2%;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.select-left {
    flex: 1 1;
    display: flex;

    border-right: 2px solid #032838;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.select-right {
    flex: 1 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #032838;

}
.select-right p {
    color: #5392ac;
}

.select-left button, .select-right button {
    background-color: #5392ac;
    width: 10vh;
    height: 5vh;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
}

select {
    height: 5vh;
    width: 40vh;
    border-radius: 10px;
    border: none;
    margin: 2%;
}
p {
    display: flex;
    flex-direction: column;
}

.calendar-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    align-self: center;
    border-radius: 1000px;

    border-radius: 15px; /* Adjust radius as needed */
    overflow: hidden; /* Ensures corners apply to child elements */
    background-color: #032838;
    color: #f9f4ed;
}

.calendar-table td {
    border: 1px solid #ddd;
    text-align: left;
}

.calendar-table th {
    height:10vh
}

.calendar-table tbody tr:hover {
    background-color: #f1f1f1;
}

.calendar-table li {
    flex: 1 1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.change-form {
    flex: 1 1;
    display: flex;
}
.calendar-table ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
}

.appointment-time.booked {
    flex: 1 1;
    background-color:  #5392ac;
    height: 100%;
    width: 100%;
}

.appointment-time.available {
    flex: 1 1;
    background-color:  #f9f4ed;
    height: 100%;
    width: 100%;

}
.appointment-time.available:hover {
    background-color: #c3af93;
    color: white;
    border: 1px solid #388E3C;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

