
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

input {
    height: 5vh;
    width: 40vh;
    border-radius: 10px;
    border: none;
    margin: 2%;
}
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    /* background-color: #5392ac; */
}  
.box, .flex-child{
    display: flex;
    flex-direction: column;
    align-items: center;   /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    

    
}
.flex-child:first-child {
    height: 100vh; /* Adjust based on your needs */
} 
.flex-child.right {
    background-color: #5392ac;
    border-top-left-radius: 30px; /* Adjust the radius value as needed */
    border-bottom-left-radius: 30px; /* Adjust the radius value as needed */
}
.label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
}
.box {
    background-color: #cdb29e;
    width:50vh;
    height: 50vh;
    border-radius: 30px;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
button {
    margin: 10px;
}

