* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "source-serif-pro", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f9f4ed;
    color: #333;
}

.header {
    display: flex;
    background-color: #032838;
    width: 100vw;
    height: 15vh;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-height: 100%;
    justify-self: center;
}


.accountMenu {
    display: flex; /* Use flex to layout username and logout */
    align-items: center; /* Center vertically */
    flex-direction: column;
    height: 3vw;
    width: 10vw;
    margin-right: 2vw;
    color:#f9f4ed;
    font-weight: bold;
    
}

.logout {
    margin-top: 10px; /* Space between username and logout button */
}

/* Menu styles remain unchanged */
.menu {
    position: fixed;
    top: 0;
    left: -40vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    background-color: #cdb29e;
    transition: left 0.3s ease;
    border-right: 2px solid #3e3e3e;
}

.menu-toggle {
    cursor: pointer;
    height: 3vw;
    width: 3vw;
    margin-left: 2vw;
    margin-right: 8vw;
    align-self: center;
}

.menu-open {
    left: 0;
}

.menu-bar {
    height: 15vh;
    width: 100%;
    background-color: #032838;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #3e3e3e;
}

.menu-item {
    display: flex;
    flex: 1;
    color: #5392ac;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 25% 25% 0; /* Rounded top corners */
}

.menu-item:hover {
    background-color: #cbac97;
    color: #5392ac;
}
