html, body {
    height: 100%;
    background-color: #f9f4ed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    align-items: stretch;
    
}
.box {
    flex: 1 1 25vw;
    background-color: #5392ac;
    border-radius: 20px;
    height: 30vw;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color:black;
    overflow: hidden;
    padding: 10px
    
}
@media (max-width: 600px) {
    .box {
        width: calc(100%-30px); 
        font-size: 5vw; 
        height: auto; 

    }
    .flex-container {
        flex-direction: column; 
        align-items: stretch; 
        padding:15px;
    }
    
}
.header {
   display: flex;
   background-color: #032838;
   width:100vw;
   height:15vh;
   margin-bottom: 3vh;
   flex-direction: row;
   align-items: center;   /* Vertical alignment */
   justify-content: center;
}
.header img {
    max-height: 100%;
}
.logout {
    position: absolute;
    right:5vh;
}
