.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

h1 {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 40px 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2em;
}
