{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Website</title>
    
    <!-- Link to your CSS file directly -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body style="background-color: #f9f4ed;">
    <header></header>
    <div class="flex-container">
        <div  class="flex-child left">
            <div class="box"> 
                {% if error %}
                    <p style="color: red;">{{ error }}</p>  <!-- Display error message here -->
                {% endif %}
                <p class="label"> Welcome! Please login</p>
                <form method="POST" action="{% url 'login' %}" >  <!-- Change to your login URL -->
                    {% csrf_token %}  <!-- CSRF token for security -->
                    <input  type="text" id="usr" name="username" placeholder="username" required>
                    <input type="password" id="pwd" name="password" placeholder="password" required>
                    <button class='flex-child' type="submit" id="myb" class="my-button">Submit</button>
                </form>
                <button id="myb" class="my-button"><a href="{% url 'register' %}">Create an account</a></button>
            </div>
        </div>
        
        <div class="flex-child right"> 
            <img style="height:40vh" src="{% static 'img/Logo.png' %}">
        </div>
    </div>
    

</body>
</html>
