{% extends "baseTemplate.html" %}
{% load static %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
<h1>Physician Scheduler</h1>
<div class="flex-container">
    <div class="select-background">
        <div class="select-left">
        <form method="GET" action="{% url 'schedule' %}" class="select-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        
    </div>
    <div class="select-right">
        {% if selected_time %}
            <h2>Appointment Found!</h2>
            <h3>When?: </h3>
            <p>{{selected_time}}</p>
            <h3>Provider:</h3>
            <p>{{physician.firstname}} {{physician.lastname}}</p>
            <h3>Patient: </h3>
            <p>{{patient.lastname}}, {{patient.firstname}}</p>
            <form method="POST" action="{% url 'schedule' %}" class="select-form">
                {% csrf_token %}
                <input type="hidden" name ='date' value = "{{selected_time}}">
                <input type="hidden" name ='physicianid' value = "{{physician.employeeid}}">
                <input type ="hidden" name ='patientid' value ="{{patient.patientid}}">
                <button type="submit">Book</button>
            </form>
        {% else %}
            <h2>Select Physician and Patient to View available appointments:</h2>
        {% endif %}
    </div>
    
</div>
    <div class="sched_background">
        <table class="calendar-table">
            <thead>
                <tr>
                    <th><h2>Date</h2></th>
                    <th><h2>Available Slots</h2></th>
                </tr>
            </thead>
            <tbody>
                {% for day, slots in available_slots.items %}
                    <tr>
                        <td>{{ day|date:"Y-m-d" }}</td>
                        <td>
                            {% if slots %}
                            <ul>
                                {% for slot in slots %}
                                <li class="test">
                                    <form method="GET" action="{% url 'schedule' %}" class="change-form">
                                        {% csrf_token %}
                                        {% if slot.is_booked %}
                                        <button type="submit" class="appointment-time booked" 
                                                data-time="{{ slot.time|time:"H:i" }}">
                                            {{ slot.time|time:"H:i" }} - Booked
                                        </button>
                                        {% else %}
                                        <input type="hidden" name="physician" value="{{ physician.employeeid}}">
                                        <input type="hidden" name="patient" value="{{patient.patientid}}">
                                        <input type="hidden" name="changed_time" value="{{slot.time}}">
                                        <button type="submit" class="appointment-time available" 
                                                data-time="{{ slot.time|time:"H:i" }}">
                                            {{ slot.time|time:"H:i" }} - Available
                                        </button>
                                    </form>
                                    {% endif %}
                                
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No available slots</p>
                        {% endif %}
                        
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
